{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/authorization.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vice</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a class="btn" href="{% url 'sign_in' %}">Войти</a></li>
                <li><a class="btn" href="{% url 'sign_up' %}">Зарегистрироваться</a></li>
            </ul>
        </nav>
        <form action="{% url 'sign' 0 %}" method="POST">
            {% csrf_token %}
            <div class="input">
                <h3>Логин:</h3>
                <input name="login">
            </div>
            <div class="input">
                <h3>Пароль:</h3>
                <input name="password" id="input" type="password">
            </div>
            <button type="submit" class="btn" id="btn">Войти</button>
        </form>
    </main>
</body>
</html>
